@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}




body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}